html body .navbar1{

	border-radius: 0;
	height: 130px;
}

html body .button2{

	height: 50px;
	width: 300px;
	margin-top: 40px;
	margin-left: 100px;

}

html body .davinci{

	margin-top: 0px;
	height: 100px;
}

html body .rondjes{

	margin-top: 75px;
}

html body .h1{

	font-weight: bold;
	color: white;
}






.jumbotron{

	background-image: url('../grfx/img/galaxy.png');
}

.text-center{

	font-weight: bolder;

}

.head{

	background-color: black;
}

.icons{

	font-size: 40px;
	word-spacing: 300px;
	text-align: center;
	text-decoration: none;
}

html body .icons a{

	text-decoration: none;
	color: #424242;

}

html body .icons a:hover{

	color: white;
}

#fotome{

	float: left;
	margin-left: 10px;
	margin-right: 10px;
	
}

html body .tekst p{

	padding-left: 0px;
}

html body .gif{

	text-align: center;
}