*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}




header{

    background-image: url(grfx/header.jpg);
    background-repeat: none;
    margin: 0 auto;
    width: 800px;
    height: 268px;
}

main{
    
    margin: auto;
    width: 770px;
    background-color: #ffffff;
    padding: 15px;
}

.top-lefthome{

    float: left;
    margin: 0px 10px 10px 10px;
}




.top-left{

    float: left;
    
    margin-bottom: 20px;
    margin: 15px 10px 10px 10px;

}

li{
    
    display: inline-block;
    
}
ul{

    margin-top:160px;

    
}

body{

    background-image: url(grfx/bg.png); 
    background-repeat: repeat-x;   
}
a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
    padding: 15px;

    
}

h1{
    padding-left: 10px;
    

}

p{
    padding-left: 5px;
    margin-top: 15px;
    line-height: 21px;
}

h2{
    margin-bottom: 15px;
    padding-left: 10px;
}

h4{
    padding-left: 12px;
}

.middle-right{

    float: right;
    margin-top: 10px;
    margin: 20px 0px 10px 20px;
}

.bottom-left{

    float: left;
    margin: 10px 20px 10px 2px;
}

.top-leftkruisers{

    float: left;
    margin: 10px 10px 10px 10px; 
}

.top-leftkruisers2{

    float: left;
    margin: 10px 10px 10px 10px; 

}

.bottom-rightkruisers{

    float: right;
    margin: 10px 10px 0px 10px; 

}

.top-rightvlieg{

    float: right;
    margin: 10px 10px 0px 10px;

}

#headervlieg{

    margin: 0;
}


.button, li a:hover{

    color: rgba(169, 213, 212, 1);

}


.bottom-leftvlieg{

    float: left;
    margin: 10px 10px 5px 0px;

}

.bottom-leftvlieg2{

    float: left;
    margin: 10px 10px 140px 10px;
}

.blub1{

    float: left;
    margin: 10px 10px 10px 0px; 
}

.blub2{

    float: right;
    margin: 10px 10px 10px 10px;
}

.blub3{

    float: left;
    margin: 10px 10px 10px 0px;
}